//  Column mixin --------------------------------------------------------------
//
//  Create a % based column
//
//	@columns:	Number of columns that need to be spanned
//	@end: 		Mark the column as the end of a "row"
//  @break:		Point where a column starts floating and stretching
//	@context:	A context for @columns

@mixin column ($columns, $end: false, $break: $default-column-breakpoint, $context: $total-columns) {
	
	display: inline-block;
	vertical-align: top;

	@include media-min ($break) {
		$perc: (100 / $total-columns * $columns) * 1%;

		@if $end == false {
			float: left;
			margin-right: $default-gutter-width;
		} @else {
			float: right;
			clear: right;
			margin-right: 0;
		}

		width: $perc - ($default-gutter-width - ($default-gutter-width/($total-columns / $columns)));
	}
}

@mixin col($instructions, $end: false, $break: $default-column-breakpoint, $context: $total-columns) {
	// @include col(4) --> 4 out of $context
	// @include col(4 of 16) --> 4 out of 16
	// @include col(6 at 1000px) --> 6 starting at 1000px
	// @include col(6 from 1000px to 75em then 3) --> 6 from 1000px up until 75em, then 3
	// @include col(6 from 1000px to 75em then 3 to 1400px then 4) --> 6 from 1000px up until 75em, then 3 up until 1400px, then 4
	// @include col(4 offset 8) --> 4 out of $context, but offset 8 of $context
	// @include col(6 no-break) --> 6 out of $context, doesn't break at $break
	// @include col() -->
}