// Import core ----------------------------------------------------------------

@import 'core/functions';
@import 'core/mixin';
@import 'core/config';



// Set up document ------------------------------------------------------------

@import 'module/reset';

html {
	box-sizing: border-box;
	font-family: $doc-font-stack;
    font-size: em(strip($doc-font-size));
    line-height: $doc-line-height;
}

body {
	font-size: 100%;
    color: $doc-color;
    background-color: $boc-bg-color;
}



// Import modules -------------------------------------------------------------

@import 'module/font';
@import 'module/text';
// @import 'module/form';
// @import 'module/reporting';
// @import 'module/button';
@import 'module/utility';



// Browser upgrade prompt -----------------------------------------------------

.browserupgrade {
    padding: 1rem 0;
    background: $black;
    color: $white;
}



// Styles ---------------------------------------------------------------------

// YOUR STYLES HERE...



// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';