// Grid -----------------------------------------------------------------------

$gutter-width:        5%;
$container-max-width: 1140px;
$page-min-padding:    4%;



// Spacing --------------------------------------------------------------------

$spacings: (
	h: .5rem,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
	5: 5rem
);



// Breakpoint -----------------------------------------------------------------

$breakpoints: (
	xxs: rem(450, 16),
	xs:  rem(550, 16),
	s:   rem(650, 16),
	m:   rem(750, 16),
	l:   rem(1050, 16),
	xl:  rem(1250, 16),
	xxl: rem(1350, 16)
);



// Colors ---------------------------------------------------------------------

// Accent colors
// eg. $my-cool-purple: #6E2D7E;

// Grey values
$white: #FFFFFF;
$black: #000000;

// Named references
$doc-color: $black;
$boc-bg-color: $white;



// Font -----------------------------------------------------------------------
//
// Default stack base on http://www.jordanm.co.uk/tinytype

$doc-font-stack:  "Helvetica Neue", Helvetica, Verdana, Roboto, sans-serif;
$doc-font-size:   16px;
$doc-line-height: 1.5;