// Grid -----------------------------------------------------------------------

$gutter-width:        5%;
$container-max-width: 1140px;
$page-min-padding:    4%;



// Spacing --------------------------------------------------------------------

$spacings: (
	0: 0,
	h: .5rem,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
	5: 5rem
);



// Breakpoint -----------------------------------------------------------------

$breakpoints: (
	xxs: 530,
	xs:  590,
	s:   650,
	m:   850,
	l:   1050,
	xl:  1250,
	xxl: 1450
);

@function bp($key) {
	@if map-has-key($breakpoints, $key) {
		@return map-get($breakpoints, $key);
	}

	@warn "Unknown `#{$key}` in $breakpoints.";
	@return null;
}



// Colors ---------------------------------------------------------------------

// Make a map to generate classes from
$colors: (
	"white":           #FFFFFF,
	"black":           #000000
);

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

$doc-color: color('black');
$boc-bg-color: color('white');

// Reporting colors

$reporting-text:    #333333;
$reporting-success: #A2D69A;
$reporting-error:   #F39B88;
$reporting-warning: #F7E287;
$reporting-info:    #90B1D2;



// Font -----------------------------------------------------------------------
//
// Default stack base on http://www.jordanm.co.uk/tinytype

$doc-font-stack:  "Helvetica Neue", Helvetica, Verdana, Roboto, sans-serif;
$doc-font-size:   16px;
$doc-line-height: 1.5;
