//  Button Module -------------------------------------------------------------
//
// Sets some default styles for elements that are usually used for buttons,
// such as <button> and <a> elements

.button {
	border: none;
	background: none;
	line-height: 1;
	font-family: $doc-font-stack;
	text-decoration: none;
	text-align: center;

	&[disabled] {
		opacity: 0.3;
		pointer-events: none;
	}

	svg {
		position: relative;
		top: rem(-2);
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: middle;

		&:first-child:not(:last-child) {
			margin-right: .625em;
		}

		&:last-child:not(:first-child) {
			margin-left: .625em;
		}
	}
}



// Modifiers ------------------------------------------------------------------
//

/* eg.:
.solid,
.stroke {
	font-size: em(14);
}

.solid {
	background-color: $black;
	color: $white;

	&:hover,
	&:focus {
		background-color: tint($black, 10);
	}

	&:active {
		background-color: shade($black, 10);
	}
}
.stroke {
	border: em(1, 14) solid $black;

	&:hover,
	&:focus {
		border-color: tint($black, 10);
	}

	&:active {
		background-color: tint($black, 90);
		border-color: shade($black, 10);
	}
}
*/