// Selection color ------------------------------------------------------------

::-moz-selection { background: tint($doc-color, 80); text-shadow: none; }
::selection      { background: tint($doc-color, 80); text-shadow: none; }



// Push down ------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}



// Headings -------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;

	* + & {
		margin-top: 2em;
	}
}



// Lists ----------------------------------------------------------------------

ul,
ol {
	padding: 0;
	padding-left: 1.4em;
}



// Links ----------------------------------------------------------------------

a {
	color: $doc-color;

	&:hover {
		color: tint($doc-color, 20);
	}

	&:active {
		color: shade($doc-color, 10);
		text-decoration: none;
	}

	&:visited {
		color: tint($doc-color, 10);
	}
}